
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zenith-primary: mat.define-palette(mat.$indigo-palette);
$zenith-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zenith-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zenith-theme: mat.define-light-theme((
  color: (
    primary: $zenith-primary,
    accent: $zenith-accent,
    warn: $zenith-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zenith-theme);
@import url('https://fonts.cdnfonts.com/css/circular-std');
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Circular Std', sans-serif;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.position-relative {
  position: relative;
}

h1, .next-btn {
  font-family: 'Druk Wide Bold';
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-40 {
  padding: 0 40px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled), .mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.mdc-text-field {
  padding: 0 !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: #132EB1 !important;
}

.mat-step-text-label {
  text-align: center;
}

.mat-step-icon, .mat-stepper-horizontal-line {
  display: none;
}

.mat-horizontal-stepper-header {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0 0px !important;
  height: 90px !important;
  margin: 0 10px;
}

.mat-step-header .mat-step-label {
  width: 100%;
  border-bottom: 2px solid rgba(174, 177, 188, 0.5);
  opacity: 0.3;
  &.mat-step-label-active {
    color: #0C1331;
    border-bottom: 2px solid #132EB1;
    opacity: 1;
  }
}

.mat-horizontal-content-container {
  margin-top: 25px;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #000 !important;
}

.mat-mdc-form-field-required-marker {
  color: #f44336;
}